:root {
    --inset-top: 0px;
    --inset-right: 0px;
    --inset-bottom: 0px;
    --inset-left: 0px;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: #c0c0c0;
}

#scroller {
    position: fixed;
    inset: 0;
    overflow: auto;
    padding: var(--inset-top) var(--inset-right) var(--inset-bottom) var(--inset-left);
}

#container {
    --scale-factor: 1;

    padding: 8px;

    width: max-content;
    margin: 0 auto;
}

#container .page {
    --user-unit: 1;
    --total-scale-factor: calc(var(--scale-factor) * var(--user-unit));
    --scale-round-x: 1px;
    --scale-round-y: 1px;

    position: relative;
}

.page .canvas {
    position: absolute;
    display: block;
}

[data-main-rotation="90"] {
    transform: rotate(90deg) translateY(-100%);
}

[data-main-rotation="180"] {
    transform: rotate(180deg) translate(-100%, -100%);
}

[data-main-rotation="270"] {
    transform: rotate(270deg) translateX(-100%);
}

.hiddenCanvasElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
}
